*{
  padding: 0;
  margin: 0;  
}
body {
  position: absolute;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 115px;
  left: 15px;
}

.menu li {
  list-style-type: none;
  height: 50px;
  margin-top: 50px;                 
}

.menu button{
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  background-color: rgb(79, 47, 11);
  color:rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
}

.menu button .button_text{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(39, 23, 6);
  height: 100%;
  width: 180px;
}
.menu button .button_icon{
  display: flex;
  align-items: center;
  height: fit-content;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.menu .button .button_text:active{
  background-color: rgb(55, 33, 9);
  color: white;
}
.menu .button:hover{
  background-color: rgb(55, 33, 9);
}

.bar {
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: rgb(79, 47, 11);
  display: flex;       
  width: 100%;
  height: 90px;
}

.bar h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  padding-left: 10px; 
  font-size: 40px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 span{
  color: rgb(184, 124, 56);
  font-size: 25px;
}
.bar .buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 10px;
}

.bar .buttons .b1, .b2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(39, 23, 6);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.bar .buttons .b2 {
  background-color: rgb(39, 23, 6);
  color: white;
}

.bar .buttons .b1:active,
.bar .buttons .b2:active {
  color: white;
             
}

.bar .buttons .b1:hover,
.bar .buttons .b2:hover {
  background-color: rgb(57, 34, 9);
  color: white;
}

.social {
  position: fixed;
  top: 350px;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.big-flex-box{
  margin-top: 15%;
  width:fit-content;
  display: flex;
  flex-direction: column;
}

.flex-container{
  align-self:center;
  width: 110%;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 3%;
}
.flex-box{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 400px;
  height: 300px;
  background:rgba(241, 212, 170, 0.89);
  color: black;
  font-size: 25px;
  text-align: center;
  line-height: 200px;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.title-and-icon{
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: medium;
  margin-top: 10%;
  margin-left: 5%;
  line-height: 4;
  height: 50%;
}
.inside-box-icon {
  border-radius: 2px;
  height: 40%;
  width: 25%;
}
b{
  font-size: large;
}
button.application {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  border-radius: 5px;
  border: none;
  background: rgb(39, 23, 6);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60%;
}
button.favorite{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  align-self:auto;
  margin-left: 1%;
  justify-content:center;
  align-items:center;
  width: 35%;
  height: 60%;
  border-radius: 5px; 
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(39, 23, 6);
  font-size: 60%;
}

button.application:active {
  cursor: pointer;
}
button.favorite:active {
  cursor: pointer;
}

button.application:hover {
  cursor: pointer;
  background: rgb(74, 44, 12);
}

button.favorite:hover {
  cursor: pointer;
  color: rgb(102, 59, 12);
}

.like-icon{
  background-color: transparent;
  height: 80%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border-radius: 10%;
  border: none;
  color: rgb(0, 0, 0);
  width: 40%;
  height: 40%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60%;
  margin-left: 30px;
  padding-right: 40px;
}

.info-icons{
  display: flex;
  flex-direction: row;
  column-gap: 25%;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 4;
  height: 15%;
  font-size: 110%;
  margin-left: 0;
  padding-left: 0px;
}

.info-buttons{
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 5%;
  height: 20%;
}

.container {
  position: absolute;
  top: 150px;
  left: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  position:absolute;
  top:0;
  margin-bottom: 20px;
  width: 680px;
  height: 55px;
  display:flex;
  margin-left: -400px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 238, 214, 0.596);
  border-radius: 15px;
  padding: 5px 10px;
  
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}
::placeholder{
  color: white;
}
.search-bar button img{
  width: 25px;
}
.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgb(145, 95, 3);
  cursor: pointer;
}  