*{
    padding: 0;
    margin: 0;  
}
body {
    position: absolute;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.text-color{
    margin-left: 110px;
    color:rgb(79, 47, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgb(176, 160, 131);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.btn_update {
    color: rgb(39, 23, 6);
    background-color: rgb(246, 220, 187);    
    border-color: antiquewhite;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
    font-size: 120%;
    font-weight: 500;
}


.btn_update:hover{
    background-color: rgb(95, 56, 15);
    color: white;
}

.container {
    position: absolute;
    background-color:rgba(255, 238, 214, 0.596);
    left: 500px;
    top: 50px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
}

.form-group{
    border-radius: 20px;
    color: rgb(79, 47, 11);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
}
.form-control{
    width: 500px;
    text-align: center;
    color: rgb(10, 7, 5);
}

.buttons {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.btn_cancel {
    background-color: rgb(39, 23, 6);
    color: white;
    border-color: antiquewhite;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
    font-size: 120%;
    font-weight: 500;
}

.btn_cancel:hover{
    background-color: rgb(95, 56, 15);
}
